<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SampleWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeBean</display-name>
    <servlet-name>EmployeeBean</servlet-name>
    <servlet-class>com.wipro.bean.EmployeeBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeBean</servlet-name>
    <url-pattern>/EmployeeBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.wipro.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDAO</display-name>
    <servlet-name>EmployeeDAO</servlet-name>
    <servlet-class>com.wipro.dao.EmployeeDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDAO</servlet-name>
    <url-pattern>/EmployeeDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JBUtil</display-name>
    <servlet-name>JBUtil</servlet-name>
    <servlet-class>com.wipro.util.JBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JBUtil</servlet-name>
    <url-pattern>/JBUtil</url-pattern>
  </servlet-mapping>
</web-app>